In [ ]:
import pandas as pd
df=pd.read_csv('/content/sample_data/SALESDS.csv')
df

,Product_ID,Sale_Date,Region,Sales_Amount,Quantity_Sold,Product_Category,Unit_Cost,Unit_Price,Customer_Type,Discount,Payment_Method,Sales_Channel,Region_and_Sales_Rep
0,1052,03-02-2023,North,5053.97,18,Furniture,152.75,267.22,Returning,0.09,Cash,Online,North-Bob
1,1093,21-04-2023,West,4384.02,17,Furniture,3816.39,4209.44,Returning,0.11,Cash,Retail,West-Bob
2,1015,21-09-2023,South,4631.23,30,Food,261.56,371.40,Returning,0.20,Bank Transfer,Retail,South-David
3,1072,24-08-2023,South,2167.94,39,Clothing,4330.03,4467.75,New,0.02,Credit Card,Retail,South-Bob
4,1061,24-03-2023,East,3750.20,13,Electronics,637.37,692.71,New,0.08,Credit Card,Online,East-Charlie
...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,1078,08-02-2023,South,9813.32,49,Furniture,3026.85,3183.58,Returning,0.25,Cash,Retail,South-Alice
145,1003,17-07-2023,West,5738.44,15,Electronics,1729.14,1870.88,Returning,0.23,Cash,Online,West-Eve
146,1001,14-05-2023,South,2669.46,35,Electronics,2745.75,3244.76,New,0.05,Bank Transfer,Online,South-Eve
147,1005,08-03-2023,North,4426.26,12,Clothing,253.29,683.78,New,0.25,Credit Card,Online,North-Alice
148,1090,28-06-2023,North,5976.25,41,Clothing,3736.88,3946.77,Returning,0.06,Credit Card,Online,North-Charlie

In [ ]:
import pandas as pd
df2 = df.drop_duplicates()

print("\nDataset after Removing Duplicates:")
print(df2)

Dataset after Removing Duplicates:
     Product_ID   Sale_Date Region  Sales_Amount  Quantity_Sold  \
0          1052  03-02-2023  North       5053.97             18
1          1093  21-04-2023   West       4384.02             17
2          1015  21-09-2023  South       4631.23             30
3          1072  24-08-2023  South       2167.94             39
4          1061  24-03-2023   East       3750.20             13
..          ...         ...    ...           ...            ...
144        1078  08-02-2023  South       9813.32             49
145        1003  17-07-2023   West       5738.44             15
146        1001  14-05-2023  South       2669.46             35
147        1005  08-03-2023  North       4426.26             12
148        1090  28-06-2023  North       5976.25             41

    Product_Category  Unit_Cost  Unit_Price Customer_Type  Discount  \
0          Furniture     152.75      267.22     Returning      0.09
1          Furniture    3816.39     4209.44     Returning      0.11
2               Food     261.56      371.40     Returning      0.20
3           Clothing    4330.03     4467.75           New      0.02
4        Electronics     637.37      692.71           New      0.08
..               ...        ...         ...           ...       ...
144        Furniture    3026.85     3183.58     Returning      0.25
145      Electronics    1729.14     1870.88     Returning      0.23
146      Electronics    2745.75     3244.76           New      0.05
147         Clothing     253.29      683.78           New      0.25
148         Clothing    3736.88     3946.77     Returning      0.06

    Payment_Method Sales_Channel Region_and_Sales_Rep
0             Cash        Online            North-Bob
1             Cash        Retail             West-Bob
2    Bank Transfer        Retail          South-David
3      Credit Card        Retail            South-Bob
4      Credit Card        Online         East-Charlie
..             ...           ...                  ...
144           Cash        Retail          South-Alice
145           Cash        Online             West-Eve
146  Bank Transfer        Online            South-Eve
147    Credit Card        Online          North-Alice
148    Credit Card        Online        North-Charlie

[149 rows x 13 columns]

In [ ]:
print("\nMissing Value Count per Column:")
print(df.isnull().sum())

Missing Value Count per Column:
Product_ID              0
Sale_Date               0
Region                  0
Sales_Amount            3
Quantity_Sold           0
Product_Category        0
Unit_Cost               3
Unit_Price              0
Customer_Type           0
Discount                0
Payment_Method          0
Sales_Channel           0
Region_and_Sales_Rep    0
dtype: int64

In [ ]:
import pandas as pd
df_filled=df.fillna({
    'Sales_Amount':df['Sales_Amount'].mean(),
    'Units_Cost':'00.0'

})
print("\nDataset after Filling Missing Values:")
print(df_filled)

Dataset after Filling Missing Values:
     Product_ID   Sale_Date Region  Sales_Amount  Quantity_Sold  \
0          1052  03-02-2023  North       5053.97             18
1          1093  21-04-2023   West       4384.02             17
2          1015  21-09-2023  South       4631.23             30
3          1072  24-08-2023  South       2167.94             39
4          1061  24-03-2023   East       3750.20             13
..          ...         ...    ...           ...            ...
144        1078  08-02-2023  South       9813.32             49
145        1003  17-07-2023   West       5738.44             15
146        1001  14-05-2023  South       2669.46             35
147        1005  08-03-2023  North       4426.26             12
148        1090  28-06-2023  North       5976.25             41

    Product_Category  Unit_Cost  Unit_Price Customer_Type  Discount  \
0          Furniture     152.75      267.22     Returning      0.09
1          Furniture    3816.39     4209.44     Returning      0.11
2               Food     261.56      371.40     Returning      0.20
3           Clothing    4330.03     4467.75           New      0.02
4        Electronics     637.37      692.71           New      0.08
..               ...        ...         ...           ...       ...
144        Furniture    3026.85     3183.58     Returning      0.25
145      Electronics    1729.14     1870.88     Returning      0.23
146      Electronics    2745.75     3244.76           New      0.05
147         Clothing     253.29      683.78           New      0.25
148         Clothing    3736.88     3946.77     Returning      0.06

    Payment_Method Sales_Channel Region_and_Sales_Rep
0             Cash        Online            North-Bob
1             Cash        Retail             West-Bob
2    Bank Transfer        Retail          South-David
3      Credit Card        Retail            South-Bob
4      Credit Card        Online         East-Charlie
..             ...           ...                  ...
144           Cash        Retail          South-Alice
145           Cash        Online             West-Eve
146  Bank Transfer        Online            South-Eve
147    Credit Card        Online          North-Alice
148    Credit Card        Online        North-Charlie

[149 rows x 13 columns]

In [ ]:
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")

print(df.columns)

Index(['product_id', 'sale_date', 'region', 'sales_amount', 'quantity_sold',
       'product_category', 'unit_cost', 'unit_price', 'customer_type',
       'discount', 'payment_method', 'sales_channel', 'region_and_sales_rep'],
      dtype='object')